<div class="flex items-center gap-1 border rounded-md p-1">
  <form
    class="flex items-center justify-center"
    method="post"
    action="{% url 'decrement' item.id %}"
  >
    {% csrf_token %}
    <button class="hover:scale-110" type="submit">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-4"
      >
        <path stroke-linecap="round" stroke-linejoin="round" d="M5 12h14" />
      </svg>
    </button>
  </form>
  <span>{{ item.quantity }}</span>
  <form
    class="flex items-center justify-center"
    method="post"
    action="{% url 'increment' item.id %}"
  >
    {% csrf_token %}
    <button class="hover:scale-110" type="submit">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-4"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M12 4.5v15m7.5-7.5h-15"
        />
      </svg>
    </button>
  </form>
</div>
